<div class="body">
    <div class="container">
    <div class="movie">
      <div class=" movie-image movie-image-1">
        <span><i class="fa fa-align-left"></i></span>
      </div>
      <div class="movie-info">
        <p class="title">Iron Man</p>
        <p class ="genres">Action / DRama / Sci-fi</p>
        <div class="movie-text">
          <p>SUMMARY</p>
          <div class="likes">
            <span><i class="fa fa-thumbs-up"></i>123</span>
            <span><i class="fa fa-comment"></i>Good one</span>
          </div>
        </div>
        <div class ="summary">
          <p class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
            unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
            PageMaker including versions of Lorem Ipsum.
          </p>
          <p class="cast">
            Neque porro quisquam, est qui dolorem ipsum ,quia dolor sit amet, consectetur, adipisci velit.
          </p>
        </div>
        <div class="actions">
          <button><i class ="fa fa-play">Watch Trailer</i></button>
          <div class="actions-more">
            <i class="fa fa-save"></i>
            <i class="fa fa-bookmark"></i>
            <i class="fa fa-share-alt"></i>
          </div>
        </div>
      </div>
    
    </div>
    
    <div class="movie">
      <div class=" movie-image movie-image-2">
        <span><i class="fa fa-align-left"></i></span>
      </div>
      <div class="movie-info">
        <p class="title">Pathaan</p>
        <p class ="genres">Action / DRama / Sci-fi</p>
        <div class="movie-text">
          <p>SUMMARY</p>
          <div class="likes">
            <span><i class="fa fa-thumbs-up"></i>123</span>
            <span><i class="fa fa-comment"></i>Good one</span>
          </div>
        </div>
        <div class ="summary">
          <p class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
            unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
            PageMaker including versions of Lorem Ipsum.
          </p>
          <p class="cast">
            Neque porro quisquam, est qui dolorem ipsum ,quia dolor sit amet, consectetur, adipisci velit.
          </p>
        </div>
        <div class="actions">
          <button><i class ="fa fa-play">Watch Trailer</i></button>
          <div class="actions-more">
            <i class="fa fa-save"></i>
            <i class="fa fa-bookmark"></i>
            <i class="fa fa-share-alt"></i>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="movie">
      <div class=" movie-image movie-image-3">
        <span><i class="fa fa-align-left"></i></span>
      </div>
      <div class="movie-info">
        <p class="title">Thor: Love and Thunder</p>
        <p class ="genres">Action / DRama / Sci-fi</p>
        <div class="movie-text">
          <p>SUMMARY</p>
          <div class="likes">
            <span><i class="fa fa-thumbs-up"></i>123</span>
            <span><i class="fa fa-comment"></i>Good one</span>
          </div>
        </div>
        <div class ="summary">
          <p class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
            unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
            PageMaker including versions of Lorem Ipsum.
          </p>
          <p class="cast">
            Neque porro quisquam, est qui dolorem ipsum ,quia dolor sit amet, consectetur, adipisci velit.
          </p>
        </div>
        <div class="actions">
          <button><i class ="fa fa-play">Watch Trailer</i></button>
          <div class="actions-more">
            <i class="fa fa-save"></i>
            <i class="fa fa-bookmark"></i>
            <i class="fa fa-share-alt"></i>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="movie">
      <div class=" movie-image movie-image-4">
        <span><i class="fa fa-align-left"></i></span>
      </div>
      <div class="movie-info">
        <p class="title">Captain America: Civil War</p>
        <p class ="genres">Action / DRama / Sci-fi</p>
        <div class="movie-text">
          <p>SUMMARY</p>
          <div class="likes">
            <span><i class="fa fa-thumbs-up"></i>123</span>
            <span><i class="fa fa-comment"></i>Good one</span>
          </div>
        </div>
        <div class ="summary">
          <p class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
            unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
            PageMaker including versions of Lorem Ipsum.
          </p>
          <p class="cast">
            Neque porro quisquam, est qui dolorem ipsum ,quia dolor sit amet, consectetur, adipisci velit.
          </p>
        </div>
        <div class="actions">
          <button><i class ="fa fa-play">Watch Trailer</i></button>
          <div class="actions-more">
            <i class="fa fa-save"></i>
            <i class="fa fa-bookmark"></i>
            <i class="fa fa-share-alt"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="movie">
      <div class=" movie-image movie-image-5">
        <span><i class="fa fa-align-left"></i></span>
      </div>
      <div class="movie-info">
        <p class="title">Avatar</p>
        <p class ="genres">Action / DRama / Sci-fi</p>
        <div class="movie-text">
          <p>SUMMARY</p>
          <div class="likes">
            <span><i class="fa fa-thumbs-up"></i>123</span>
            <span><i class="fa fa-comment"></i>Good one</span>
          </div>
        </div>
        <div class ="summary">
          <p class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
            unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
            PageMaker including versions of Lorem Ipsum.
          </p>
          <p class="cast">
            Neque porro quisquam, est qui dolorem ipsum ,quia dolor sit amet, consectetur, adipisci velit.
          </p>
        </div>
        <div class="actions">
          <button><i class ="fa fa-play">Watch Trailer</i></button>
          <div class="actions-more">
            <i class="fa fa-save"></i>
            <i class="fa fa-bookmark"></i>
            <i class="fa fa-share-alt"></i>
          </div>
        </div>
      </div>
      </div>
      <div class="movie">
        <div class=" movie-image movie-image-6">
          <span><i class="fa fa-align-left"></i></span>
        </div>
        <div class="movie-info">
          <p class="title">Puspha - 2</p>
          <p class ="genres">Action / DRama / Sci-fi</p>
          <div class="movie-text">
            <p>SUMMARY</p>
            <div class="likes">
              <span><i class="fa fa-thumbs-up"></i>123</span>
              <span><i class="fa fa-comment"></i>Good one</span>
            </div>
          </div>
          <div class ="summary">
            <p class="text">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
              unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries, but also the leap into electronic typesetting, 
              remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
              containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
              PageMaker including versions of Lorem Ipsum.
            </p>
            <p class="cast">
              Neque porro quisquam, est qui dolorem ipsum ,quia dolor sit amet, consectetur, adipisci velit.
            </p>
          </div>
          <div class="actions">
            <button><i class ="fa fa-play">Watch Trailer</i></button>
            <div class="actions-more">
              <i class="fa fa-save"></i>
              <i class="fa fa-bookmark"></i>
              <i class="fa fa-share-alt"></i>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>
